.downloads-holder
    width: 100%
    height: auto
    .download-card-container
        width: 100%
        position: relative
        height: 100px
        background-color: $dark-grey
        border-radius: 10px
        margin: 10px 0