.info-wrapper
    width: 100%
    height: auto
    .info-container
        width: 85%
        height: auto
        margin: 100px auto 0 auto
        color: white
        font-family: 'Lato'
        transition: 0.3s
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 100px auto
        .info-header
            width: 100%
            height: 82px
            grid-column: 1/#{3}
            display: grid
            grid-template-columns: auto auto repeat(2, 70px)
            .back-button
                position: absolute
                top: 8px
                left: 8px
                width: 40px
                height: 40px
                &:hover
                    cursor: pointer
                    & > .material-icons
                        color: $light-blue
                .material-icons
                    line-height: 40px
                    text-align: center
                    color: $light-grey
            .list-update
                margin-top: 25px
            .add-to-list
                justify-self: end
                margin-right: 20px
                margin-top: 25px
                background-color: $black
                height: 30px
                line-height: 30px
                padding: 0 10px
                &:hover
                    cursor: pointer
                    background-color: $light-blue
            .info-header-title
                font-family: 'Source Sans Pro'
                border-left: 5px solid $light-blue
                text-indent: 20px
                font-size: 2rem
                letter-spacing: 1px
                height: 72px
                .jp-title
                    font-size: 1rem
                    margin-left: 20px
                    line-height: 10px
            .anime-out-link
                border-radius: 50%
                width: 50px
                height: 50px
                background-size: cover
                background-position: center
                justify-self: end
                background-color: $black
                margin-top: 12px
                &:hover
                    filter: brightness(1.2)
                    cursor: pointer
            .mal-circle
                background-image: url('https://myanimelist.cdn-dena.com/img/sp/icon/apple-touch-icon-256.png')
            .masterani-circle
                background-image: url('https://4.bp.blogspot.com/-YL78r6p1fyg/WdxknlfMQ7I/AAAAAAAAF9c/_s-5rWQiM7Udo0Crgza76dHlE79HFhxSgCPcBGAYYCw/s1600/Masterani.me.png')
        .info-main
            width: 100%
            height: fit-content
            display: grid
            grid-template-rows: 50px 50px auto auto auto
            .primary-stats
                width: 100%
                font-family: 'Source Sans Pro'
                text-transform: uppercase
                font-size: 20px
                letter-spacing: 1px
                .primary-stat
                    display: inline-block
            .secondary-stats-container
                width: 100%
                height: auto
                display: grid
                grid-template-columns: 225px auto
                .anime-image
                    width: 200px
                    height: 280px
                    background-position: center
                    background-size: cover
                .secondary-stats
                    width: 95%
                    height: 80%
                    margin-top: 5%
                    border-collapse: collapse
                    tbody
                        margin: 20px
                        tr td
                            padding: 3px
                            font-family: 'Lato'
                            font-size: 12px
                            color: $light-grey
                        .data-label
                            font-size: 16px
                            color: white
                            font-family: 'Source Sans Pro'
                            font-weight: 900
            .synopsis-main
                font-family: 'Lato'
                font-size: 14px
                font-style: italic
                margin: 30px 0
                padding-right: 50px
                color: lighten($light-grey, 5%)
                font-style: italic
            .genres
                -webkit-padding-start: 0
                font-family: 'Source Sans Pro'
                font-weight: 900
                font-size: 10px
                text-transform: uppercase
                .info-clickable
                    vertical-align: middle
                .vertical-blue
                    height: 18px
                    width: 2px
        .info-episodes-wrapper
            width: 100%
            height: 600px
            overflow-y: auto
            .info-episodes-container
                width: 100%
                height: auto
                .download-all
                    width: unquote("calc(100% - 20px)")
                    margin-left: 10px
                    height: 40px
                    text-align: center
                    line-height: 40px
                    background-color: $dark-grey
                    font-family: 'Source Sans Pro'
                    text-transform: uppercase
                    font-size: 12px
                    &:hover
                        background-color: $light-blue
                        cursor: pointer
                .noeps
                    margin-top: 200px
                    width: 100%
                    text-align: center
                    font-size: 24px
                    font-family: 'Source Sans Pro'
                    color: $light-grey
                .info-episode-card
                    width: unquote("calc(100% - 20px)")
                    margin: 10px 0 10px 10px
                    height: 80px
                    background-color: $dark-grey
                    position: relative
                    &:hover
                        cursor: pointer
                        filter: brightness(1.2)
                        & > .dp-btn
                            display: block
                    .side-flair
                        position: absolute
                        left: 0
                        top: 0
                        width: 5px
                        height: 100%
                        background-color: $light-blue
                    .ep-number
                        font-family: 'Source Sans Pro'
                        font-size: 14px
                        margin-left: 30px
                        padding-top: 15px
                    .ep-title
                        font-family: 'Lato'
                        font-size: 14px
                        margin-left: 30px
                        padding-top: 5px
                        color: lighten($light-grey, 5%)
                    .ep-date
                        position: absolute
                        right: 10px
                        top: 5px
                        font-family: 'Lato'
                        font-size: 12px
.vertical-blue
    display: inline-block
    width: 3px
    height: 36px
    margin: 0 20px
    vertical-align: middle
    background-color: $light-blue

.related-anime
    width: 95%
    height: 80%
    border-collapse: collapse
    margin-bottom: 20px
    tbody
        margin: 20px
        tr td
            padding: 3px
            font-family: 'Lato'
            font-size: 12px
            color: $light-grey
            .related-link
                &:hover
                    cursor: pointer
                    color: $light-blue
        .data-label
            font-size: 14px
            color: white
            font-family: 'Source Sans Pro'
            font-weight: 900