=infoEditable
    background-color: $black
    width: fit-content
    height: 13px
    padding: 5px 8px
    margin-top: 7px
    line-height: 13px
    font-size: 12px

.integration-container
    width: 95%
    margin: auto
    position: relative
    .integration-login-wrapper
        background-color: $dark-grey
        width: 550px
        height: 350px
        position: relative
        margin: 25vh 0 0 50%
        transform: translateX(-50%)
        .integration-login
            width: 90%
            height: 90%
            position: absolute
            margin: 5% 0 0 5%
            display: grid
            grid-template-columns: 100px auto 80px 60px
            grid-template-rows: 27% 75%
            background-color: $dark-grey
            .login-title
                grid-column: 1
                grid-row: 1
                text-transform: uppercase
                font-family: 'Source Sans Pro'
                font-weight: 900
                font-size: 30px
                height: 65px
                line-height: 65px
                border-left: 8px solid $mal
                letter-spacing: 2px
                text-indent: 30px
            .register-button
                grid-row: 1
                grid-column: 3
                justify-self: start
                text-align: center
                width: 60px
                height: 60px
                background-color: $grey
                .material-icons
                    line-height: 60px
                &:hover
                    cursor: pointer
                    filter: brightness(1.2)
            .MAL-button
                grid-row: 1
                grid-column: 4
                background-image: url('https://myanimelist.cdn-dena.com/img/sp/icon/apple-touch-icon-256.png')
                background-size: cover
                background-position: center
                width: 60px
                height: 60px
                background-color: $mal
                &:hover
                    cursor: pointer
                    filter: brightness(1.2)
            .creds-form
                grid-row: 2
                grid-column: 1/#{5}
                display: grid
                grid-template-columns: 100%
                grid-template-rows: repeat(3, 1fr)
                height: 100%
                width: 100%
                & > input, .mal-login-submit
                    background-color: $grey
                    width: 100%
                    height: 65%
                    border: none
                    outline: none
                    text-align: center
                    font-family: 'Lato'
                    font-style: italic
                    color: white
                    font-size: 16px
                .mal-login-submit
                    background-color: $mal
                    color: white
                    &:hover
                        cursor: pointer
                        filter: brightness(1.2)
                .red
                    background-color: $red

    .animelist-wrapper
        background-color: $black
        .tabs-area
            width: 100%
            height: 40px
            background-color: $dark-grey
            display: grid
            grid-template-columns: repeat(5, minmax(auto, 1px)) auto 40px 40px 40px
            .status-tab
                border-right: 1px solid lighten($grey, 5%)
                font-family: 'Lato'
                font-style: italic
                font-size: 14px
                font-weight: 400
                text-align: center
                line-height: 40px
                white-space: nowrap
                color: $light-grey
                padding: 0 20px
                &:hover
                    background-color: $black
                    cursor: pointer
            .status-tab-active
                border-top: 2px solid $light-blue
                background-color: $black
            .username
                font-family: 'Lato'
                font-weight: 400
                font-style: italic
                justify-self: end
                line-height: 40px
                margin-right: 20px
                color: $light-grey
            .logout
                &:hover
                    background-color: $red
            .info
                &:hover
                    background-color: $light-blue
            .sync
                &:hover
                    background-color: $mal
        .animelist-container
            width: 98%
            margin-left: 1%
            height: auto
            min-height: 700px
            background-color: $black
            .sort-area
                width: 100%
                height: 50px
                display: grid
                grid-template-columns: repeat(6, minmax(auto, 1px)) auto 40px 40px 40px
                .sort-by-text 
                    font-weight: 300
                    line-height: 50px
                    font-family: 'Lato'
                    color: $light-grey
                    font-size: 14px
                    white-space: nowrap
                    margin-right: 15px
                .sort-by
                    padding: 0 20px
                    font-size: 12px
                    height: 30px
                    margin: 10px 10px 0 0
                    justify-self: start
                    background-color: $dark-grey
                    font-family: 'Source Sans Pro'
                    font-weight: 900
                    text-transform: uppercase
                    text-align: center
                    line-height: 30px
                    white-space: nowrap
                    &:hover
                        cursor: pointer
                        color: $light-blue
                .sort-by-active
                    background-color: $light-blue
                    &:hover
                        color: white
                        background-color: darken($light-blue, 5%)
                .view-mode
                    margin-top: 5px
                    &:hover
                        background-color: $light-blue
                .view-mode-active
                    background-color: $light-blue
            .animelist-display
                width: 100%
                display: flex
                flex-wrap: wrap
                margin-bottom: 15px
                padding-bottom: 15px
                .list-card-container
                    width: 100%
                    height: 100px
                    margin: 5px
                    background-color: $grey
                    transition: 0.3s
                    display: grid
                    grid-template-columns: 90px 1fr 2fr
                    animation: fadeIn 0.5s
                    .bg-img
                        width: 75px
                        height: 100px
                        background-position: center
                        background-size: cover
                    .series-information-container
                        width: 100%
                        height: 100px
                        color: $light-grey
                        display: grid
                        grid-template-rows: 2fr repeat(3, 1fr)
                        position: relative
                        &:after
                            content: ''
                            width: 1px
                            height: 80px
                            position: absolute
                            top: 10px
                            right: 0
                            background-color: $light-grey
                        .series-title
                            font-family: 'Source Sans Pro'
                            font-weight: 900
                            letter-spacing: 1px
                            margin-top: 5px
                            color: white
                            font-size: 13px
                        .series-info
                            font-family: 'Lato'
                            font-size: 12px
                            font-weight: 400
                    .my-info
                        position: relative
                        width: 100%
                        height: 100px
                        display: grid
                        font-family: 'Lato'
                        font-weight: 400
                        margin-left: 20px
                        grid-template-columns: 100px auto
                        grid-template-rows: repeat(3, 1fr)
                        .last-updated
                            position: absolute
                            top: 7px
                            right: 40px
                            font-style: italic
                            text-align: right
                            font-size: 12px
                        .info-label
                            text-align: start
                            line-height: 33px
                            font-size: 12px
                            font-style: italic
                        .info-editable
                            +infoEditable
                            &:hover
                                cursor: pointer
                                filter: brightness(1.2)
                        .progress-info-container
                            width: unquote("calc(100% - 40px)")
                            height: 100%
                            display: grid
                            grid-template-columns: 85% 20px 20px 10%
                            .progress-bar-container
                                width: 100%
                                height: 10px
                                margin-top: 12px
                                background-color: $light-grey
                                .progress-bar-progress
                                    background-color: $light-blue
                                    height: 100%
                            .prog-btn
                                margin-top: 12px
                                width: 20px
                                height: 10px
                                background-color: $black
                                text-align: center
                                color: white
                                line-height: 6px
                                .material-icons
                                    font-size: 8px
                                &:hover
                                    background-color: $light-blue
                                    cursor: pointer
                            .progress-text
                                font-size: 12px
                                line-height: 33px
                                justify-self: end

.DropRight-root
    display: flex
    background-color: $grey !important
    width: fit-content
    .DropRight-control
        +infoEditable
        margin-right: 5px
        &:hover
            cursor: pointer
            filter: brightness(1.2)
    .DropRight-menu
        display: flex
        .DropRight-option
            +infoEditable
            margin: 7px 5px 0 5px
            &:hover
                cursor: pointer
                filter: brightness(1.2)
        .DropRight-selected
            background-color: $light-blue
            pointer-events: none

.status-select
    .DropRight-control
        font-size: 10px
    .DropRight-menu
        .DropRight-option
            font-size: 10px
        .DropRight-selected
            display: none

.square
    width: 40px
    height: 40px
    text-align: center
    background-color: lighten($grey, 2%)
    .material-icons
        line-height: 40px
        font-size: 20px
    &:hover
        cursor: pointer
        filter: brightness(1.3)
    
@keyframes fadeIn
    from
        opacity: 0
    to
        opacity: 1