.integration-container
    width: 95%
    margin: auto
    position: relative
    .integration-login-wrapper
        background-color: $dark-grey
        width: 550px
        height: 350px
        position: relative
        margin: 25vh 0 0 50%
        transform: translateX(-50%)
        .integration-login
            width: 90%
            height: 90%
            position: absolute
            margin: 5% 0 0 5%
            display: grid
            grid-template-columns: 100px auto 80px 60px
            grid-template-rows: 27% 75%
            background-color: $dark-grey
            .login-title
                grid-column: 1
                grid-row: 1
                text-transform: uppercase
                font-family: 'Source Sans Pro'
                font-weight: 900
                font-size: 30px
                height: 65px
                line-height: 65px
                border-left: 8px solid $mal
                letter-spacing: 2px
                text-indent: 30px
            .register-button
                grid-row: 1
                grid-column: 3
                justify-self: start
                text-align: center
                width: 60px
                height: 60px
                background-color: $grey
                .material-icons
                    line-height: 60px
                &:hover
                    cursor: pointer
                    filter: brightness(1.2)
            .MAL-button
                grid-row: 1
                grid-column: 4
                background-image: url('https://myanimelist.cdn-dena.com/img/sp/icon/apple-touch-icon-256.png')
                background-size: cover
                background-position: center
                width: 60px
                height: 60px
                background-color: $mal
                &:hover
                    cursor: pointer
                    filter: brightness(1.2)
            .creds-form
                grid-row: 2
                grid-column: 1/#{5}
                display: grid
                grid-template-columns: 100%
                grid-template-rows: repeat(3, 1fr)
                height: 100%
                width: 100%
                & > input, .mal-login-submit
                    background-color: $grey
                    width: 100%
                    height: 65%
                    border: none
                    outline: none
                    text-align: center
                    font-family: 'Lato'
                    font-style: italic
                    color: white
                    font-size: 16px
                .mal-login-submit
                    background-color: $mal
                    color: white
                    &:hover
                        cursor: pointer
                        filter: brightness(1.2)
                .red
                    background-color: $red

    .animelist-wrapper
        background-color: $black
        .tabs-area
            width: 100%
            height: 40px
            background-color: $dark-grey
            display: grid
            grid-template-columns: repeat(5, minmax(auto, 1px)) auto 40px 40px
            .status-tab
                border-right: 1px solid lighten($grey, 5%)
                font-family: 'Lato'
                font-style: italic
                font-size: 14px
                font-weight: 400
                text-align: center
                line-height: 40px
                white-space: nowrap
                color: $light-grey
                padding: 0 20px
                &:hover
                    background-color: $black
                    cursor: pointer
            .status-tab-active
                border-top: 2px solid $light-blue
                background-color: $black
            .username
                font-family: 'Lato'
                font-weight: 400
                font-style: italic
                justify-self: end
                line-height: 40px
                margin-right: 20px
                color: $light-grey
            .logout
                &:hover
                    background-color: $red
            .info
                &:hover
                    background-color: $light-blue
        .animelist-container
            width: 98%
            margin-left: 1%
            height: auto
            min-height: 700px
            background-color: $black
            .sort-area
                width: 100%
                height: 50px
                display: grid
                grid-template-columns: repeat(6, minmax(auto, 1px)) auto 40px 40px 40px
                .sort-by-text 
                    font-weight: 300
                    line-height: 50px
                    font-family: 'Lato'
                    color: $light-grey
                    font-size: 14px
                    white-space: nowrap
                    margin-right: 15px
                .sort-by
                    padding: 0 20px
                    font-size: 12px
                    height: 30px
                    margin: 10px 10px 0 0
                    justify-self: start
                    background-color: $dark-grey
                    font-family: 'Source Sans Pro'
                    font-weight: 900
                    text-transform: uppercase
                    text-align: center
                    line-height: 30px
                    white-space: nowrap
                    &:hover
                        cursor: pointer
                        color: $light-blue
                .sort-by-active
                    background-color: $light-blue
                    pointer-events: none
                .view-mode
                    margin-top: 5px
                    &:hover
                        background-color: $light-blue
                .view-mode-active
                    background-color: $light-blue
            .animelist-display
                width: 100%
                display: flex
                flex-wrap: wrap
                margin-bottom: 15px
                padding-bottom: 15px
                .list-card-container
                    width: 140px
                    height: 200px
                    margin: 5px
                    background-color: $grey
                    transition: 0.3s
                    .bg-img
                        width: 100%
                        height: 100%
                        background-position: center
                        background-size: cover


.square
    width: 40px
    height: 40px
    text-align: center
    background-color: lighten($grey, 2%)
    .material-icons
        line-height: 40px
        font-size: 20px
    &:hover
        cursor: pointer
        filter: brightness(1.3)