::-webkit-scrollbar
    width: 5px
    background-color: $grey
    &:hover
        width: 10px

::-webkit-scrollbar-thumb
    border-radius: 20px
    background-color: $dark-grey
    &:hover
        background-color: $light-grey

::-webkit-scrollbar:horizontal
    background-color: $grey
    height: 5px
    &:hover
        height: 10px

::-webkit-scrollbar-thumb:horizontal
    border-radius: 20px
    background-color: $dark-grey
    &:hover
        background-color: $light-grey