.seasonal-container
    width: 95%
    height: 100%
    margin-left: 2.5%
    grid-template-rows: 50px auto
    grid-template-columns: 100%
    .seasonal-options
        width: 100%
        height: 100%
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(auto, 200px))
        grid-template-rows: auto
        position: relative
        z-index: 100
        .dropdown-container
            width: 200px
            height: 60px
            margin-right: 10px
            .small-header
                font-family: 'Lato'
                font-size: 8px
                color: $light-grey
                margin-bottom: 5px
            .dropdown-options
                background-color: $dark-grey
                color: $light-grey
                font-size: 10px
                text-align: center
                line-height: 50px
                height: 50px
                &:hover
                    cursor: pointer
                    background-color: darken($dark-grey, 5%)
                .Dropdown-menu
                    background-color: $dark-grey
                    .Dropdown-option
                        border-bottom: 1px solid $grey
                        &:hover
                            background-color: darken($dark-grey, 5%)
        .years-dropdown
            .dropdown-options
                .Dropdown-menu
                    height: 400px
                    overflow-y: scroll
    .seasonal-error
        color: lighten($grey, 10%)
        margin: 50px 0 0 50px
        font-size: 60px
    .seasonal-results
        width: 100%
        height: 100%
        .results-sector-container
            width: 100%
            height: auto
            display: grid
            grid-template-columns: 100%
            grid-template-rows: 60px auto
            margin: 40px 0
            .results-sector-title
                font-size: 30px
                border-left: 3px solid $light-blue
                border-right: 3px solid $light-blue
                background-color: $dark-grey
                width: 100%
                height: 50px
                line-height: 50px
                text-align: center
            .results-sector
                width: 100%
                height: auto
                display: flex
                flex-wrap: wrap
                justify-content: space-around
                animation: fadeIn 0.4s
                .seasonal-card
                    width: 390px
                    height: 270px
                    display: grid
                    grid-template-columns: 180px 210px
                    background-color: $dark-grey
                    margin: 14px 8px
                    position: relative
                    .bg-img
                        width: 180px
                        height: 270px
                        background-position: center
                        background-size: cover
                        position: absolute
                        z-index: 1
                    .left-data
                        position: relative
                        z-index: 2
                        width: 100%
                        height: 100%
                        display: grid
                        grid-template-rows: auto auto
                        .anime-title
                            font-family: 'Source Sans Pro'
                            font-weight: 700
                            font-size: 12px
                            height: fit-content
                            padding: 12px
                            background-color: rgba(0,0,0,0.7)
                            grid-row: 2
                            align-self: flex-end
                    .right-data
                        width: 100%
                        height: 100%
                        display: grid
                        grid-template-rows: 20px 20px 210px 20px
                        .stats-data
                            background-color: $black
                            width: 100%
                            height: 20px
                            display: grid
                            grid-template-columns: repeat(3, 1fr)
                            .stat-data
                                justify-self: center
                                font-family: 'Lato'
                                font-weight: 400
                                font-size: 10px
                                width: 100%
                                line-height: 18px
                                text-align: center
                            .middle
                                border-left: 1px solid $grey
                                border-right: 1px solid $grey
                        .anime-synopsis
                            width: 186px
                            height: 190px
                            overflow-y: hidden
                            padding: 6px 12px
                            font-family: 'Lato'
                            font-size: 12px
                            font-weight: 400
                            background-color: $dark-grey
                            &:hover
                                overflow-y: auto
                        .bottom
                            background-color: $black
                            width: 100%
                            height: 20px
                            display: grid
                            grid-template-columns: 1fr 1fr
                            .stat-data
                                justify-self: center
                                font-family: 'Lato'
                                font-weight: 400
                                font-size: 10px
                                width: 100%
                                line-height: 18px
                                text-align: center
                                text-transform: capitalize
                            .first-bottom
                                border-right: 1px solid $grey
                        .list-edit
                            width: 100%
                            height: 20px
                            background-color: $black
                            display: grid
                            grid-template-columns: 25% 75%
                            border-top: 1px solid $grey
                            .add-to-list
                                text-align: center
                                line-height: 18px
                                font-family: 'Lato'
                                font-weight: 400
                                font-size: 10px
                                grid-column: 1/#{3}
                                &:hover
                                    cursor: pointer
                                    background-color: $light-blue
                            .scores-dropdown
                                .Dropdown-control
                                    background-color: $black
                            .scores-dropdown, .status-dropdown
                                justify-self: center
                                width: 100%
                                justify-self: center
                                .Dropdown-control
                                    height: 20px
                                    line-height: 18px
                                    font-size: 10px
                                    background-color: transparent
                                    font-family: 'Lato'
                                    font-weight: 400
                                    justify-self: center
                                    .Dropdown-placeholder
                                        text-align: center
                                .Dropdown-menu
                                    background-color: $dark-grey
                                    position: relative
                                    .Dropdown-option
                                        border-bottom: 1px solid $grey
                                        background-color: $black
                                        font-family: 'Lato'
                                        font-weight: 400
                                        font-size: 10px
                                        text-align: center
                                        padding: 5px 0
                                        &:hover
                                            cursor: pointer
                                            background-color: lighten($dark-grey, 5%)
                                    .is-selected
                                        background-color: $light-blue
                                        pointer-events: none
                                &:hover
                                    cursor: pointer
                                    background-color: lighten($black, 5%)