.title-bar
    background-color: $black !important
    right: 0

.sideButtons
    display: none !important

.windowControlsContainer
    display: flex
    justify-content: flex-end

.windowTitle
    display: none !important