.su-titlebar-container
    top: 2px !important

.window-control-button-min, .window-control-button-max
    background-color: $light-blue !important

.window-control-button
    &:hover
        cursor: default !important
        filter: brightness(1.5) !important


.resizable-line
    background-color: $black
    width: 100%
    height: 2px
    position: fixed
    z-index: 999