@import 'vars'
@import 'scrollbar'
@import 'sidenav'
@import 'card'
@import 'home-content'

body, html, #app, .wrapper
    margin: 0
    padding: 0
    height: 100%
    background-color: $grey

.invisible
    visibility: hidden !important

a
    text-decoration: none